<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>女生個人</string>
		<key>categoryID</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>男生個人</string>
		<key>categoryID</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>情侶閃照</string>
		<key>categoryID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>朋友團體</string>
		<key>categoryID</key>
		<string>8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>隨手拍拍</string>
		<key>categoryID</key>
		<string>29</string>
	</dict>
	<dict>
		<key>title</key>
		<string>國內旅遊</string>
		<key>categoryID</key>
		<string>11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>國外旅遊</string>
		<key>categoryID</key>
		<string>12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>體育競賽</string>
		<key>categoryID</key>
		<string>25</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食記錄</string>
		<key>categoryID</key>
		<string>13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>影視娛樂</string>
		<key>categoryID</key>
		<string>26</string>
	</dict>
	<dict>
		<key>title</key>
		<string>藝文生活</string>
		<key>categoryID</key>
		<string>24</string>
	</dict>
	<dict>
		<key>title</key>
		<string>趣味惡搞</string>
		<key>categoryID</key>
		<string>28</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寵物日記</string>
		<key>categoryID</key>
		<string>9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家庭親子</string>
		<key>categoryID</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>甜蜜婚禮</string>
		<key>categoryID</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收藏嗜好</string>
		<key>categoryID</key>
		<string>17</string>
	</dict>
	<dict>
		<key>title</key>
		<string>時尚美妝</string>
		<key>categoryID</key>
		<string>14</string>
	</dict>
	<dict>
		<key>title</key>
		<string>攝影寫真</string>
		<key>categoryID</key>
		<string>22</string>
	</dict>
	<dict>
		<key>title</key>
		<string>電玩動漫</string>
		<key>categoryID</key>
		<string>15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>創作設計</string>
		<key>categoryID</key>
		<string>20</string>
	</dict>
	<dict>
		<key>title</key>
		<string>活動剪影</string>
		<key>categoryID</key>
		<string>21</string>
	</dict>
	<dict>
		<key>title</key>
		<string>特定節日</string>
		<key>categoryID</key>
		<string>10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拍賣市集</string>
		<key>categoryID</key>
		<string>27</string>
	</dict>
	<dict>
		<key>title</key>
		<string>不設分類</string>
		<key>categoryID</key>
		<string>0</string>
	</dict>
</array>
</plist>
