<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PIXUploadPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF943B591C33B4CA00D8AB0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF943B721C33B4CA00D8AB0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF943B7D1C33B4CA00D8AB0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
